<div class="backgroundImage paddingLayoutRoule">
  <div class="loginForm lightGrayBackground">
    <form name="userform" method="post" #formCtrl="ngForm">
      <h2>LOGIN</h2>
      <label for="email">email:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="email" placeholder="email...">

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="password" placeholder="password...">
      <!--<p [ngStyle]="{'visibility': loginForm.valid ? 'hidden' : 'visible'}">-->
      <p class=" lineMargin paddingHalfLayoutRoule errorLabel" [ngStyle]="{'visibility': loginError ? 'visible' : 'hidden'}">
        <span><strong>Invalid username or/and password.</strong></span>
      </p>
      <button name="login" class="lineMargin squareButton accentButton" type="button"
              [disabled]="formCtrl.form.invalid" (click)="loginEmail()">Login with email</button>
    </form>
    <button name="loginGoogle" class="lineMargin squareButton accentButton" type="button" (click)="signUpWithEmail()">sign up with email</button>
    <button name="loginGoogle" class="lineMargin squareButton accentButton" type="button" (click)="loginGoogle()">Login with google</button>
  </div>
</div>
